<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td>フォロー数：<%= user.follows.count %> </td>
        <td>フォロワー数：<%= user.followers.count %> </td>
        <td>
       <% unless current_user == user %>
        <% if current_user.follows?(user) %>
           <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),
                                                html: { method: :delete }, local: true) do |g| %>
           <%= g.submit "フォロー外す" %>
          <% end %>
        <% else %>
          <%= form_with(model: current_user.active_relationships.new, local: true) do |h| %>
           <div><%= hidden_field_tag :followed_id, user.id %></div>
          <%= h.submit "フォローする" %>
         <% end %>
        <% end %>
       <% end %>
        </td>
        <td><%= link_to 'Show', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
