<%= form_with model:@book, local: true do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>カテゴリー</h4>
  <%= f.text_area :body %>
　<br>
  <%= f.submit 'Update Book' %>
  <br>
  <p><%= link_to "Show", book_path %> | <%= link_to "Back", books_path %></p>
<% end %>

<%= link_to 'Show', @book, class: "show_#{@book.id}" %> |
<%= link_to 'Back', books_path, class: "back" %>
